{% load staticfiles %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/6.3.0/simplepeer.min.js"></script>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <label>Your id:</label><br>
  <textarea name="" id="yourId"></textarea><br>
  <label>Other Id:</label><br>
  <textarea name="" id="otherId"></textarea><br>
  <button id="connect">connect</button><br>

  <label for="">Enter Message:</label><br>
  <textarea name="" id="yourMessage"></textarea><br>
  <button id="send">send</button><br>
  <pre id="messages"></pre>

  <video src=""></video>
</body>
<script src={% static 'js/index.js' %}></script>
</html>
